// colore principale del braend : blu
$primary: #0282f9;
// colr grigio da usare per i testi
$text_color: #58595a;
// color grigio per il background
$geay_background: #303030;
// grigio più chiaro per i testi
$light_text: #7d7d86;